<h1>{{title}}</h1>
<form method='POST' action='/new'>
  <label for='user'>
    <input id='user' type='text' name='user' placeholder='Your name' />
  </label>
  <label for='text'>
    <textarea
      id='text'
      type='text'
      name='text'
      placeholder='Your text'
    ></textarea>
  </label>
  <button type='submit' class='btn'>Send</button>
</form>
<a href='/'>Back to home</a>