<main class='mx-auto max-w-5xl p-5'>
  <div class='alert alert-info shadow-lg'>
    <div>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        class='stroke-current flex-shrink-0 w-6 h-6'
      ><path
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z'
        ></path></svg>
      <span>{{messageCount}}</span>
    </div>
  </div>
  <div
    class='grid grid-cols-1 gap-3 p-2 sm:grid-cols-2 md:gap-6 md:p-6 lg:grid-cols-3 my-5'
  >
    {{#each messages}}
      <div class='card bg-white shadow-xl'>
        <div class='card-body'>
          <h2 class='card-title'>{{this.user}}</h2>
          <p class='text-primary text-sm'>{{this.added}}</p>
          <p class=''>{{this.text}}</p>
          <div class='card-actions justify-end'>
            <button class='btn btn-primary'>Reply</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <a href='/new' class='btn max-w-md float-right mx-6 my-5'>Add new message</a>
</main>